
<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


<div class="row mt-4">
  <div class="col-md-6">
    <form class="form new-project-form">
      <div class="form-group">
        <h1>{{balance}}</h1>
      </div>
      <div class="form-group">
        <button>start game</button>
      </div>
      <div class="form-group">
        <div>
          {{#each balanceObj as |balance|}}
          <div class="row">
            <div class="col-auto">
              <h2> {{balance.name}}!</h2>
              <h2>{{balance.balance}}</h2>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="form-group">
        <div>
          {{#each loserObj as |balance|}}
          <div class="row">
            <div class="col-auto">
              <h2> {{balance.name}}!</h2>
              <h2>{{balance.balance}}</h2>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="form-group">
        <h1>Maybe user can post selfie as image</h1>
      </div>
      
    </form>
  </div>

</div>

<script src="./js/profile.js"></script>
<script src="./js/leaderBoard.js"></script>