<div class="form">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


<div class="">
  <div class="form">
    <form class="form new-project-form">
      <div class="form-group">
        <h1>Your Current Balance: <span style="color: Gold;"> {{balance}}</span></h1>
      </div>
      <div class="form-group">
        <div class="container-table-list">
          <div class="row justify-content-center mx-lg-n5">
            <table class="tableList table-responsive-md table-bordered table-hover">
              <thead>
                <tr>
                  <div class="tableHead ">
                    <th scope="col">Table Number</th>
                  </div>
                  <div class="tableHead ">
                    <th scope="col">Number of People at Table</th>
                  </div>
                  <div class="tableHead ">
                  <th scope="col">Minimum Bet</th>
                  </div>
                </tr>
              </thead>
              <tbody>
                {{#each tableList as |table|}}
                <tr>
                  <td scope="row" id="{{table.id}}">
                    <p>{{table.id}}</p>
                  </td>
                  <td id="p2">
                    {{#if (is_player_count_max table.tablePlayerCount)}}
                    {{table.tablePlayerCount}}/1
                    {{else}}
                    <a href="/tableGame/{{table.id}}"
                      onClick="joinTable({{table.id}},{{table.thisUser}})">{{table.tablePlayerCount}}/1</a>
                    {{/if}}
                  </td>
                  <td id="p3">
                    <a href="/tableGame/{{table.id}}">{{table.min_bet}}</a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="form-group">

      </div>
      <div class="form-group">
        <div class="row">
          <div class="form-group col-md-12">
            <h2>
              <span style="color: Gold  ;" class="fas fa-crown"></span>
              Leader Board
            </h2>
            <ul class="list-group"></ul>
            {{#each balanceObj as |balance|}}
            <li class="list-group-item"> {{balance.name}} !</li>
            <li class="list-group-item">Balance: {{balance.balance}}</li>
            {{/each}}
            </ul>
          </div>
        </div>
      </div>
  </div>
  <footer class="form-group footer">
    <h1>Spend more time studying.</h1>
    <p>Copyright &copy; 2021 &mdash; Team BlaxJax</p>
  </footer>
</div>

<script src="./js/leaderBoard.js"></script>
<script src="/js/profile.js"></script>