<nav>
  <h2>Pick a Table to Play</h2>
</nav>

<div class="container-table-list">
  <div class="row justify-content-center mx-lg-n5">
    <table class="tableList table-responsive-md table-bordered table-hover">
      <thead>
        <tr>
          <div class="tableHead col-sm-6 py-3 px-lg-5">
            <th scope="col">Table Number</th>
          </div>
          <div class="tableHead col-sm-6 py-3 px-lg-5">
            <th scope="col">Number of People at Table</th>
          </div>
          <div class="tableHead col-sm-6 py-3 px-lg-5">
            <th scope="col">Minimum Bet</th>
          </div>
        </tr>
      </thead>
      <tbody>
        {{#each tableList as |table|}}
        <tr>
          <td scope="row" id="{{table.id}}">
            <a href="/tableGame/{{table.id}}">{{table.id}}</a>
          </td>
          <td id="p2">
            <a href="/tableGame/{{table.id}}">{{table.tablePlayerCount}}/1</a>
          </td>
          <td id="p3">
            <a href="/tableGame/{{table.id}}">{{table.min_bet}}</a>
          </td>
        </tr>
        {{/each}}

      </tbody>

    </table>
  </div>
</div>

<script src="../public/css/style.css"></script>
<script src="../public/js/tableList.js"></script>